<section class="my-3">
  <div class="container">
    <div class="d-flex my-3">
      <h1 class="flex-fill">
        <span class="text-success">Protected</span> Path
        <small class="text-muted">
          Welcome {{session.data.authenticated.attributes.given_name}}
        </small>
      </h1>
      <div class="align-self-center">
      </div>
    </div>
    <div>
      <p>
        Welcome to the protected index page that you can only get to once you have logged in. Check
        your address bar, everything under <code>/protected/*</code> requires authentication.
      </p>
      <p>
        {{#link-to "index"}}Public Page{{/link-to}}
      </p>
      <p>
        User Name: {{session.username}}
      </p>
      <p>
        Email Verified: {{session.emailVerified?}}
      </p>
      <p>
        MFA Enabled: {{session.mfaEnabled?}}
      </p>
      <p>
        Groups
        ({{session.groups.length}}):
        {{join ", " session.groups}}
      </p>
      <p>
        Authenticated At: {{date-short-llllz session.authenticatedAt}}
      </p>
      <p>
        Issued: {{date-short-llllz session.issuedAt}}
      </p>
      <p>
        Expires: {{date-short-llllz session.expiresAt}}
      </p>
    </div>
  </div>
</section>