<section class="my-3">
  <div class="container">
    <div class="d-flex my-3">
      <h1 class="flex-fill">
        <span class="text-success">Protected</span> Path
        <small
          class="text-muted">Welcome {{session.data.authenticated.cognitoUser.subjectAttributes.given_name}}</small>
      </h1>
      <div class="align-self-center">
      </div>
    </div>

    <div>
      <p>
        Welcome to the protected index page that you can only get to once you have logged in. Check
        your address bar, everything under <code>/protected/*</code> requires authentication.
      </p>
      <p>
        {{#link-to "index"}}Public Page{{/link-to}}
      </p>
      <p>
        User Name: {{session.data.authenticated.cognitoUser.cognitoUsername}}
      </p>
      <p>
        Email Verified: {{session.data.authenticated.cognitoUser.emailVerified?}}
      </p>
      <p>
        MFA Enabled: {{session.data.authenticated.cognitoUser.mfaEnabled?}}
      </p>
      <p>
        Groups
        ({{session.data.authenticated.cognitoUser.cognitoGroups.length}}):
        {{join ", " session.data.authenticated.cognitoUser.cognitoGroups}}
      </p>
      <p>
        Authenticated At: {{session.data.authenticated.cognitoUser.authenticatedAt}}
      </p>
      <p>
        Issued: {{session.data.authenticated.cognitoUser.issuedAt}}
      </p>
      <p>
        Expires: {{session.data.authenticated.cognitoUser.expiresAt}}
      </p>
    </div>
  </div>
</section>