<section class="my-3">
  <div class="container">
    <div class="d-flex my-3">
      <h1 class="flex-fill">Roles</h1>
      <div class="align-self-center">
        <button class="btn btn-outline-secondary" disabled="disabled" type="button">
          {{fa-icon "plus"}}
        </button>
      </div>
    </div>

    <div>
      <p class="small text-muted">
        {{model.roles.length}}
        of
        {{model.rolesCount}}
      </p>
    </div>
    <div class="list-group">
      {{#each model.roles as |role|}}
        <div class="d-flex list-group-item">
          {{role.name}}
          <small class="ml-auto text-muted">
            {{role.updatedAt}}
          </small>
        </div>
      {{else}}
        <div class="list-group-item">
          <em>None</em>
        </div>
      {{/each}}
    </div>
  </div>
</section>