<fieldset>
  <legend>Update Profile</legend>
  <form class="form" onsubmit={{action (route-action "update" session model)}}>
    <div class="form-group">
      <label for="js-given-name" class="control-label">Given Name</label>
      {{input-text
        aria-describedby="js-given-name-help"
        autofocus=true
        class="form-control"
        id="js-given-name"
        placeholder="Given Name"
        type="text"
        value=model.given_name
      }}
      <small id="js-given-name-help" class="form-text text-muted">
        <strong>Required</strong> What is your given/first name?
      </small>
    </div>
    <div class="form-group">
      <label for="js-middle-name" class="control-label">Middle Name</label>
      {{input-text
        aria-describedby="js-middle-name-help"
        class="form-control"
        id="js-middle-name"
        placeholder="Middle Name"
        type="text"
        value=model.middle_name
      }}
      <small id="js-middle-name-help" class="form-text text-muted">
        What is your middle name?
      </small>
    </div>
    <div class="form-group">
      <label for="js-family-name" class="control-label">Family Name</label>
      {{input-text
        aria-describedby="js-family-name-help"
        class="form-control"
        id="js-family-name"
        placeholder="Family Name"
        type="text"
        value=model.family_name
      }}
      <small id="js-family-name-help" class="form-text text-muted">
        <strong>Required</strong> What is your family/last name?
      </small>
    </div>
    <div class="form-group">
      <label for="js-nickname" class="control-label">Nickname</label>
      {{input-text
        aria-describedby="js-nickname-help"
        class="form-control"
        id="js-nickname"
        placeholder="Nickname"
        type="text"
        value=model.nickname
      }}
      <small id="js-nickname-help" class="form-text text-muted">
        What is your nickname?
      </small>
    </div>
    <div class="form-group">
      <label for="js-address" class="control-label">Address</label>
      {{text-area
        aria-describedby="js-address"
        class="form-control"
        ctrlEnterSubmitsForm?=true
        id="js-address"
        placeholder="Address"
        value=model.address
      }}
      <small id="js-address" class="form-text text-muted">
        What is your address?
      </small>
    </div>
    <div class="form-group">
      <label for="js-phone-number" class="control-label">Phone Number</label>
      {{input-text
        aria-describedby="js-phone-number-help"
        class="form-control"
        id="js-phone-number"
        pattern="^(?=(?:\+|0{2})?(?:(?:[\(\-\)\.\/ \t\f]*\d){7,10})?(?:[\-\.\/ \t\f]?\d{2,3})(?:[\-\s]?[ext]{1,3}[\-\.\/ \t\f]?\d{1,4})?$)((?:\+|0{2})\d{0,3})?(?:[\-\.\/ \t\f]?)(\(0\d[ ]?\d{0,4}\)|\(\d{0,4}\)|\d{0,4})(?:[\-\.\/ \t\f]{0,2}\d){3,8}(?:[\-\s]?(?:x|ext)[\-\t\f ]?(\d{1,4}))?$"
        placeholder="+19875551234"
        type="tel"
        value=model.phone_number
      }}
      <small id="js-phone-number-help" class="form-text text-muted">
        What is your phone number?
      </small>
    </div>
    <div class="form-group">
      <label for="js-locale" class="control-label">Locale</label>
      {{input-text
        aria-describedby="js-locale-help"
        class="form-control"
        id="js-locale"
        placeholder="en_ca"
        type="text"
        value=model.locale
      }}
      <small id="js-locale-help" class="form-text text-muted">
        What is your default locale for formatting dates and numbers?
      </small>
    </div>
    <div class="form-group">
      <label for="js-zoneinfo" class="control-label">Timezone</label>
      {{input-text
        aria-describedby="js-zoneinfo-help"
        class="form-control"
        id="js-zoneinfo"
        placeholder="America/Edmonton"
        type="text"
        value=model.zoneinfo
      }}
      <small id="js-zoneinfo-help" class="form-text text-muted">
        What is your default timezone?
      </small>
    </div>
    <div class="form-group">
      <label for="js-website" class="control-label">Website</label>
      {{input-text
        aria-describedby="js-website-help"
        class="form-control"
        id="js-website"
        pattern="(https|http)://.*"
        placeholder="https://example.com"
        type="url"
        value=model.website
      }}
      <small id="js-website-help" class="form-text text-muted">
        Do you have a website?
      </small>
    </div>
    <div class="form-group text-right">
      <button class="btn btn-outline-primary" type="submit">
        Update
      </button>
    </div>
  </form>
</fieldset>
