{{#if session.mfaDisabled?}}
  <div class="alert alert-info">
    <p><strong>FAQ</strong></p>
    <ul>
      <li>
        <strong>What do I need?</strong> -
        An authenticator app on your mobile device. Check out Google Authenticator
        <a
          href="https://play.google.com/store/apps/details?id=com.google.android.apps.authenticator2&hl=en_CA"
          rel="noopener" target="_blank">
          (Android
        </a>
        |
        <a href="https://itunes.apple.com/ca/app/google-authenticator/id388497605?mt=8"
           rel="noopener" target="_blank">
          iOS)
        </a>
        or Microsoft's Authenticator (I'm not even linking to that app because I hate it).
      </li>
      <li>
        <strong>Can I use SMS codes instead?</strong> -
        Nope. I'm not supporting SMS codes because sending the messages can be expensive to everyone. Get
        an authenticator app!
      </li>
    </ul>
  </div>
{{/if}}
<fieldset>
  {{#if session.mfaEnabled?}}
    <legend>Multi-Factor Authentication Is <span class="text-success">Enabled</span></legend>
    <form class="form" onsubmit={{action (route-action "disable" session)}}>
      <div class="form-group text-center">
        <button class="btn btn-lg btn-outline-secondary" type="submit">
          Deactivate Multi-Factor Authentication
        </button>
      </div>
    </form>
  {{else}}
    {{#if model.mfaActivationState.verifyRequired?}}
      <legend>Verify Authenticator</legend>
      <form class="form" onsubmit={{action (route-action "verify" session model.mfaActivationState)}}>
        <div class="form-group">
          <label>QR Code</label>
          {{qr-code correctLevel="L" text=model.mfaActivationState.qrcUrl}}
          <small class="form-text text-muted">
            Use your authenticator app to scan this QRC.
          </small>
        </div>
        <div class="form-group">
          <label for="js-passcode">Confirm Passcode</label>
          {{input-text
            aria-describedby="js-passcode-help"
            autofocus=true
            class="form-control"
            id="js-passcode"
            maxlength=6
            placeholder="Passcode"
            type="number"
            value=model.mfaActivationState.passcode
          }}
          <small id="js-passcode-help" class="form-text text-muted">
            What is current code from your Authenticator app?
          </small>
        </div>
        <div class="form-group text-right">
          <div class="btn-group">
            <button class="btn btn-outline-secondary" onclick={{action (route-action "cancel")}} type="button">
              Cancel
            </button>
            <button class="btn btn-outline-primary" type="submit">
              Next
            </button>
          </div>
        </div>
      </form>
    {{else}}
      <legend>Multi-Factor Authentication Is <span class="text-danger">Disabled</span></legend>
      <form class="form" onsubmit={{action (route-action "enable" session)}}>
        <div class="form-group text-center">
          <button class="btn btn-lg btn-outline-primary" type="submit">
            Activate Multi-Factor Authentication
          </button>
        </div>
      </form>
    {{/if}}
  {{/if}}
</fieldset>
