<section class="my-3">
  <div class="container">
    <div class="row">
      <div class="offset-md-2 col-md-8">
        <fieldset>
          {{#if model.authenticationState.mfaRequired?}}
            <legend>Multi-Factor Authentication</legend>
            {{!-- ------------------------------------------------------------------------------- MFA Passcode Form --}}
            <form class="form"
                  onsubmit={{action (route-action "confirmSignIn" model.authenticationState model.mfaCode)}}>
              <div class="form-group">
                <label for="js-mfa-code">
                  {{model.authenticationState.mfaChallengeDevice}} Code
                </label>
                {{input-text
                  aria-describedby="js-mfa-code-help"
                  autofocus=true
                  class="form-control"
                  id="js-mfa-code"
                  maxlength=6
                  placeholder="Authenticator Code"
                  type="number"
                  value=model.mfaCode
                }}
                <small id="js-mfa-code-help" class="form-text text-muted">
                  What is current code from your Authenticator app named {{model.authenticationState.challengeName}}?
                </small>
              </div>
              <div class="form-group">
                <div class="alert alert-info">
                  <p><strong>This browser will be remembered.</strong></p>
                  <p>
                    After you verify your identity with your Multi-Factor authentication you won't be asked for
                    the code on subsequent sign ins within this browser.
                  </p>
                </div>
              </div>
              <div class="form-group text-right">
                <button class="btn btn-outline-primary" type="submit">
                  Submit
                </button>
              </div>
            </form>
          {{else if model.authenticationState.newPasswordRequired?}}
            <legend>Set Your Password</legend>
            {{!-- --------------------------------------------------------------------------- Complete New Password --}}
            <form class="form"
                  onsubmit={{action
              (route-action "completePassword" model.authenticationState model.newPassword model.additionalAttributes)}}>
              <div class="form-group d-none">
                <label for="js-username-new-password">Email Address</label>
                {{input-text
                  aria-describedby="js-username-new-password-help"
                  autocomplete="email"
                  autofocus=true
                  class="form-control"
                  id="js-username-new-password"
                  placeholder="Email Adddress"
                  type="email"
                  value=model.username
                }}
                <small id="js-username-new-password-help" class="form-text text-muted">Your email address.</small>
              </div>
              <div class="form-group">
                <label for="js-password-new-password">New Password</label>
                {{input-text
                  aria-describedby="js-password-new-password-help"
                  autocomplete="new-password"
                  class="form-control"
                  placeholder="Password"
                  required=true
                  type="password"
                  value=model.newPassword
                }}
                <small id="js-password-new-password-help" class="form-text text-muted">
                  Please choose your new password because that original one we gave you was gnarley!
                </small>
              </div>
              <div class="form-group">
                <label for="js-given-name">Given Name</label>
                {{input-text
                  aria-describedby="js-given-name-help"
                  class="form-control"
                  id="js-given-name"
                  placeholder="Given Name"
                  required=true
                  type="text"
                  value=model.additionalAttributes.given_name
                }}
                <small id="js-given-name-help" class="form-text text-muted">
                  <strong>Required</strong> What is your given/first name?
                </small>
              </div>
              <div class="form-group">
                <label for="js-family-name">Family Name</label>
                {{input-text
                  aria-describedby="js-family-name-help"
                  class="form-control"
                  id="js-family-name"
                  placeholder="Family Name"
                  required=true
                  type="text"
                  value=model.additionalAttributes.family_name
                }}
                <small id="js-family-name-help" class="form-text text-muted">
                  <strong>Required</strong> What is your family/last name?
                </small>
              </div>
              <div class="form-group text-right">
                <button class="btn btn-outline-primary" type="submit">
                  Submit
                </button>
              </div>
            </form>
          {{else}}
            <legend>Sign In</legend>
            {{!-- ------------------------------------------------------------------------------------ Sign In Form --}}
            <form class="form" onsubmit={{action (route-action "signIn" model.username model.password)}}>
              <div class="form-group">
                <label for="js-username">Email Address</label>
                {{input-text
                  aria-describedby="js-username-help"
                  autocomplete="email"
                  autofocus=true
                  class="form-control"
                  id="js-username"
                  placeholder="Email Adddress"
                  type="email"
                  value=model.username
                }}
                <small id="js-username-help" class="form-text text-muted">Your email address.</small>
              </div>
              <div class="form-group">
                <label for="js-password">Password</label>
                {{input-text
                  aria-describedby="js-password-help"
                  autocomplete="current-password"
                  class="form-control"
                  placeholder="Password"
                  type="password"
                  value=model.password
                }}
                <small id="js-password-help" class="form-text text-muted">Your password.</small>
              </div>
              <div class="form-group text-right">
                {{#link-to "forgot-password" (query-params email="") class="btn btn-link text-danger"}}
                  Forgot Password
                {{/link-to}}
                <button class="btn btn-outline-primary" type="submit">
                  Submit
                </button>
              </div>
            </form>
          {{/if}}
        </fieldset>
      </div>
    </div>
  </div>
</section>